{% extends "base.html" %}
{% block content %}
<div class="container mt-5 pt-5">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card bg-dark text-white border-warning shadow-lg p-4">
                <h3 class="text-center mb-4 text-warning">Восстановление пароля</h3>
                <p class="small text-secondary mb-4">Введите ваш Email, и мы отправим вам инструкцию по сбросу пароля.</p>
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <input type="email" name="email" class="form-control bg-secondary text-white border-0 py-2" placeholder="Email" required>
                    </div>
                    <button type="submit" class="btn btn-warning w-100 fw-bold">Отправить ссылку</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}